@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.page-body {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-light);
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
}

.visually-hidden {
  visibility: hidden;
}

/* Nav */

.navigation {
  width: 1066px;
  display: flex;
  align-items: center;
}

.inner-container {
  background-color: #FFFFFF;
  padding: 0 70px;
}

.navigation-logo {
  display: block;
  width: 139px;
  height: 65px;
  position: relative;
}

.navigation-list {
  width: 345px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-link {
  display: block;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 20px 10px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link-current {
  position: relative;
}

.navigation-user {
  margin: 0 0 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

.navigation-user-item {
  display: flex;
  align-items: center;
}

.navigation-user-link {
  color: #000000;
  display: block;
  width: 42px;
  padding: 20px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.navigation-user-link:hover {
  color: #756257;
}

.navigation-user-link:active {
  opacity: .3;
}

.link-favorite {
  position: relative;
  margin-right: 20px;
}

.link-favorite-count {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
}

.btn {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  padding: 9px 34px 8px 34px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-colorl 0.2s ease;
}

.btn:focus {
  outline: 3px solid  #756257;
}

.btn:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.btn-brown {
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.btn-brown:hover {
  background-color: #615048;
}

.btn-brown:focus {
  outline: 3px solid #756257;
}

.btn-brown:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

/* Main */

.page-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sedona-background {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(/images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
}

.sedona-background::after {
  display: block;
  content: "";
  width: 100%;
  height: 57px;
  position: absolute;
  left: 3px;
  top: 494px;
  background-image: url("../images/vector.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.welcome-svg {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.advantages-wrapper {
  display: block;
  width: 1200px;
  height: 282px;
  margin: 0 auto;
}

.main-title {
  margin: 0;
  padding-top: 63px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  padding-top: 31px;
  color: #000000;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
}

/* List */

.edge-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.edge-list {
  display: flex;
  flex-wrap: wrap;
  color: #333333;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

.edge-img {
  width: 800px;
  margin: 0;
  padding: 0;
}

.edge-title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: black;
  margin-top: 97px;
}

.edge-title-icons {
  margin-top: 184px;
}

.icon-home {
  background-image: url(../images/housing-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 91px;
}

.icon-food {
  background-image: url(../images/food-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 91px;
}

.icon-souvenirs {
  background-image: url(../images/souvenirs-icon.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 91px;
}

.edge-description {
  margin: 0;
  margin-right: 75px;
  max-width: 250px;
  max-height: 73px;
  margin-bottom: 79px;
  margin-left: 75px;
}

.city {
  width: 800px;
  height: 384px;
  margin: 0;
  padding: 0;
}

.edge-item-1 .edge-title,
        .edge-item-5 .edge-title {
            color: #FFFFFF;
        }

        .edge-item-1,
        .edge-item-5 {
            font-size: 18px;
            line-height: 21px;
            background-color: #83B3D3;
            color: #FFFFFF;
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .edge-item-2,
        .edge-item-4,
        .edge-item-6,
        .edge-item-8 {
            font-size: 18px;
            line-height: 21px;
            background-color: rgba(131, 179, 211, 0.12);
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .edge-item-7 {
            font-size: 18px;
            line-height: 21px;
            background-color: rgba(131, 179, 211, 0.2);
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .edge-item-3 {
            font-size: 18px;
            line-height: 21px;
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .number {
            font-family: PT Sans;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            height: 25px;
            margin-bottom: 26px;
        }

/* Hotels */

.hotels {
  background: #FFFFFF;
  text-align: center;
}

.hotels-wrapper {
  background: #FFFFFF;
  width: 1200px;
  height: 417px;
  margin: 0;
  padding: 0;
}

.hotels-title {
  margin: 0;
  padding-top: 91px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.hotels-intro {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 45px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
}

.hotels-search-button {
  color:#FFFFFF ;
  background-color:#756257;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 575px;
  height: 60px;
}

.hotels-search-form {
  display: none;
}

.subscription {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  background-image: url(/images/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.subscription-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription-catalog {
  background-image: none;
}

.subscription-title {
  width: 720px;
  height: 36px;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-top: 94px;
  margin: 0;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-description {
  width: 720px;
  height: 52px;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  padding-top: 29px;
  margin: 0;
}

.subscription-description-catalog {
  color: #000000;
}

.subscription-form {
  padding-top: 46px;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 60px;
}

.subscription-email {
  text-indent: 22px;
  background-color:#F2F2F2;
  width: 600px;
  height: 60px;
  border-radius:10px 0px 0px 10px;
  padding: 0;
  border: none;
}

.subscription-email:hover {
  background-color: #E6E6E6;
}

.subscription-email:focus,
.subscription-email:active {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.subscription-email::placeholder {
  color: #000000;
  padding-left: 22px;
}

.subscription-btn {
  width: 200px;
  height: 60px;
  color: #FFFFFF;
  background-color:#83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

.subscription-btn:hover {
  background-color: #68A2CA;
}

.subscription-btn:active {
  opacity: .3;
  background-color: #68A2CA;
}

/* Catalog */

.page-main {
  flex-grow: 1;
  background-color: #FFFFFF;
}

.catalog-header {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-image: url("../images/catalog/catalog-background-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
  color: #FFFFFF;
  padding: 35px 72px 83px;
}

.header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 5px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 45px;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  transition: opacity 0.2s ease;
}

.breadcrumbs-link:hover {
  opacity: .6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #68A2CA;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: .3;
}

.breadcrumbs-link-home {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/catalog/home-icon.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item {
  margin-right: 11px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.ic-arrow-right {
  display: block;
  width: 5px;
  height: 8px;
  background-image: url("../images/catalog/ic-arrow-right.svg");
  background-repeat: no-repeat;
}

.filters-inner-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters-left,
.filters-right {
  display: flex;
}

.filters-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filters-group:first-child {
  margin-right: 67px;
}

.filters-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.filters-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-list .control-input {
  width: 20px;
  height: 20px;
}

.filters-group-price {
  width: 528px;
}

.filters-prices-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters-prices-inputs {
  display: flex;
  width: 287px;
  flex-shrink: 0;
}

.filters-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range {
  width: 287px;
}

.range-bar {
  width: 100%;
  position: relative;
  height: 5px;
  background-color: #8C8586;
}

.range-scale {
  width: 70%;
  position: relative;
  height: 5px;
  background-color: #FFFFFF;
}

.range-btn {
  display: block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.range-btn-min {
  left: 0;
}

.range-btn-max {
  left: 70%;
}

.btn-reset {
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
}

.control {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 13px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.control-input {
  position: absolute;
  -webkit-appearence: none;
  -moz-appearence: none;
  appearance: none;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 19px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.control-input:checked + .checkbox {
  background-image: url("/images/catalog/ic-checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:hover {
  opacity: .6;
}

.checkbox:focus {
  opacity: .6;
  outline: 3px solid #83B3D3;
}

.checkbox:active {
  opacity: .3;
  outline: 0;
}

.radio {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 19px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.control-input:checked + .radio {
  background-image: url("/images/catalog/ic-radiopin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.radio:focus {
  outline: 3px solid #83B3D3;
}

.price {
  position: relative;
}

.price-input {
  width: 108px;
  padding: 12px 14px 11px 19px;
  background: transparent;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  transition: border 0.2s ease;
}

.price-min .price-input {
  border-radius: 4px 0 0 4px;
}

.price-min .price-input:hover {
  opacity: 0.6;
}

.price-min .price-input:focus {
  border: 2px solid #68A2CA;
}

.price-min .price-input:active {
  background-color: #756257;
}

.price-max .price-input {
  border-radius: 0 4px 4px 0;
  margin-left: -1px;
}

.price-max .price-input:hover {
  opacity: 0.6;
}

.price-max .price-input:focus {
  border: 2px solid #68A2CA;
}

.price-max .price-input:active {
  background-color: #756257;
}

.price-label {
  position: absolute;
  right: 14px;
  top: 12px;
  opacity: .3;
  cursor: pointer;
}

.range {
  width: 287px;
}

.range-bar {
  width: 100%;
  position: relative;
  height: 5px;
  background-color: #8C8586;
}

.range-scale {
  width: 70%;
  position: relative;
  height: 5px;
  background-color: #FFFFFF;
}

.range-btn {
  display: block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.range-btn-min {
  left: 0;
}

.range-btn-min:focus {
  border: 2px solid #68A2CA;
}

.range-btn-min:active {
  border: 2px solid #68A2CA;
}

.range-btn-max {
  left: 70%;
}

.range-btn-max:focus {
  border: 2px solid #68A2CA;
}

.range-btn-max:active {
  border: 2px solid #68A2CA;
}


.btn-submit {
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
  padding: 14px 34px;
  margin-bottom: 11px;
}

.btn-submit:hover {
  background-color: #68A2CA;
}

.btn-submit:focus {
  color: #FFFFFF;
  outline: 3px solid;
}

.btn-submit:active {
  opacity: 0.3;
  background-color: #68A2CA;
}

.btn-reset {
  margin-right: 12px;
  background-color: transparent;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-transform: none;
}

.btn-reset:hover {
  opacity: 0.6;
}

.btn-reset:focus {
  outline: 3px solid #83B3D3;
}

.btn-reset:active {
  opacity: 0.3;
}

/* Results*/

.results {
  margin: 0 auto;
  width: 1057px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 53px;
}

.results-index {
  display: flex;
}

.results-value {
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 39px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.select-container {
  display: flex;
  color: #000000;
  background-color: #ffffff;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 19px;
  padding-right: 94px;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url(../images/catalog/vector-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control:hover,
.select-control:focus {
  border-color: #83B3D3;
}

.select-control:focus {
  outline: 2px solid #83B3D3;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  color: #333333;
  opacity: 0.3;
}

.sorting-container {
  display: flex;
}

.sorting-container a {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.sorting-button {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-button:hover {
  border: 2px solid #83B3D3;
}

.sorting-button:focus {
  border: 3px solid #83B3D3;
}

.sorting-button:active {
  background-color: #68A2CA;
}

.results-list a {
  color: #FFFFFF;
  text-decoration: none;
}

.results-wrapper {
  margin: 0 auto;
}

.results-list {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 340px 340px 340px;
  gap: 30px 18px;
  background-color: #FFFFFF;
  text-align: center;
  list-style-type: none;
}

.results-list-item {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 340px;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-card-preview {
  transition: opacity 0.2s ease
}

.hotel-card-preview:hover {
  opacity: .6;
}

.hotel-card-preview:focus {
  outline: 3px solid var(--special-cold-light);
}

.hotel-card-preview:active {
  opacity: .3;
  outline: none;
}

.title-wrapper {
  display: flex;
  align-items: flex-start;
  width: 300px;
}

.description-wrapper {
  display: flex;
  width: 299px;
  height: 23px;
}

.results-list-detail-wrapper {
  width: 300px;
  height: 37px;
  display: flex;
  justify-content: space-between;
}

.results-list-rating-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 37px;
}

.four-star-img {
  display: flex;
  background-image: url(../images/catalog/four-star.svg);
  width: 91px;
  height: 17px;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.three-star-img {
  display: flex;
  background-image: url(../images/catalog/three-star.svg);
  width: 68px;
  height: 17px;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.two-star-img {
  display: flex;
  background-image: url(../images/catalog/two-star.svg);
  width: 43px;
  height: 17px;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.results-list-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  width: 160px;
  height: 37px;
  color: #333333 ;
  background: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.product-card-image-link {
  display: flex;
  margin: 0 auto;
}

.results-list-item-title {
  display: flex;
  margin: 0;
  color: #000000;;
  font-size: 24px;
  line-height: 31px;
  font-style: normal;
  font-weight: bold;
 }

.results-list-item-description {
  display: flex;
  padding-right: 25px;
  width: 133px;
  height: 23px;
  margin: 0;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
 }

.results-list-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 133px;
  height: 37px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  background-color: #756257;
  border-radius: 4px;
  text-transform: uppercase;
}

.results-list-detail:hover {
  background-color: #615048;
}

.results-list-detail:focus {
  border: 3px solid #83B3D3;
}

.results-list-detail:active {
  background-color: #615048;
  opacity: 0.6;
}

.results-list-reserved {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 140px;
  height: 37px;
  background: #83B3D3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.results-list-reserved:hover {
  background-color: #68A2CA;
}

.results-list-reserved:focus {
  border: 3px solid #756257;
}

.results-list-reserved:active {
  background-color: #68A2CA;
  opacity: 0.6;
}

.results-list-reserved-green {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 140px;
  height: 37px;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  background: #7DB54F;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.results-list-reserved-green:hover {
  background-color: #6C9E42;
}

.results-list-reserved-green:focus {
  border: 3px solid #756257;
}

.results-list-reserved-green:active {
  background-color: #6C9E42;
  opacity: 0.6;
}

.load-more-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.load-more-btn {
  width: 620px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  background: #83B3D3;
  border-radius: 4px;
  text-transform: uppercase;
}

.line {
  background-color: #E6E6E6;
  width: 1055px;
  margin:0 auto;
  margin-top: 34px;
  margin-bottom: 30px;
}

.line-second {
  background-color: #E6E6E6;
  width: 1055px;
  margin:0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.load-more-btn:hover {
  background-color: #68A2CA;
}

.load-more-btn:focus {
  border: 3px solid #756257;
}

.load-more-btn:active {
  background-color: #68A2CA;
  opacity: 0.6;
}

/* Pagination */

.pagination-wrapper {
  margin: 0 auto;
  display: flex;
  width: 1056px;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
}

 .pagination-current {
   color: #000000;
   background-color: #F2F2F2;
 }

 .pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68A2CA;
}

.hotels-value-wrapper {
  display: flex;
  align-items: center;
}

.hotels-value {
  margin-right: 51px;
}

.hotels-sorting-wrapper {
  display: flex;
  align-items: center;
  width: 160px;
}

.hotels-sorting {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 100px;
  background-image: url(../images/catalog/vector-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.hotels-sorting:hover,
.hotels-sorting:focus {
  border-color: #83B3D3;
}

.hotels-sorting:focus {
  outline: 2px solid #83B3D3;
}

.hotels-sorting:active {
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
  color: #333333;
  opacity: 0.3;
}

/* Footer */

.page-footer-container {
  display: flex;
  margin: 0 auto;
}

.footer-inner-wrapper {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 72px 30px 72px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 107px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 29px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item a {
  color: #83B3D3;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.footer-social-item a:hover {
  color: #68A2CA;
}

.footer-social-item a:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-social-item a:active {
  opacity: 0.3;
  outline: none;
}

.footer-phone {
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-phone:active {
  opacity: 0.3;
  outline: none;
}

.footer-logo {
  color: black;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.footer-logo:hover {
  color: #756257;
}

.footer-logo:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

/* Modal window */

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.calendar-form-button {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 18px;
  right: 17px;
  background-image: url("../images/ic-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 2px;
}

.calendar-form-button:focus {
  outline: 2px solid #83B3D3;
}

.calendar-out {
  top: 108px;
  right: 17px;
  padding: 10px;
  border-radius: 2px;
}

.modal-auth {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50px;
  border-color: transparent;
  background-image: url("../images/ic-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background: #E6E6E6;
  background-image: url("../images/ic-close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-image: url("../images/ic-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  color:rgba(0, 0, 0, 0.3);
  opacity: 0.6;
}

.modal-container-close {
  display: none;
}

.modal-title {
  min-height: 67px;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form {
  display: grid;
  grid-template-columns: 135px 133px 114px 133px;
  grid-template-rows: min-content min-content min-content;
  position: relative;
  column-gap: 20px;
  margin: 0;
  padding: 0;
}

.date {
  grid-column: 1/2;
  align-self: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.number-wrapper {
  grid-column: 2/3;
  display: flex;
  grid-row: 5;
  border: none;
}

.number-wrapper-children {
  grid-column: 4/5;
}

.button-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #F2F2F2;
  border: none;
  cursor: pointer;
}

.button-quantity:focus-visible {
  outline: transparent;
}

.button-quantity:hover .minus {
  background: #000000;
}

.button-minus {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}

.button-minus:active {
  opacity: 0.3;
}

.button-quantity:focus .button-minus {
  outline: 3px solid #83B3D3;
}

.button-plus {
  width: 22px;
  height: 22px;
  border-radius: 4px;
}

.button-plus:active {
  opacity: 0.3;
}

.button-quantity:focus .button-plus {
  outline: 3px solid #83B3D3;
}

.plus {
  opacity: 0.3;
  border-radius: 4px;
  padding: 4px;
}

.button-quantity:hover .plus {
  opacity: 1.3;
}

.auth-form-field {
  width: 420px;
  height: 50px;
  grid-column: 2/5;
  background: #F2F2F2;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  border-radius: 4px;
  padding: 0;
  padding-left: 19px;
  box-sizing: border-box;
  border: none;
}

.auth-form-field:hover {
  background: #E6E6E6;
}

.auth-form-field:active {
  background: #FFFFFF;

}

.auth-form-field:focus {
  border: 3px solid #83B3D3;
}

.auth-form-adult:focus-visible {
  outline: transparent;
}

.auth-form-adult:focus {
  border: 3px solid #83B3D3;
}

.note {
  grid-column: 2/5;
  font-family:inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF5757;
  margin-bottom: 17px;
  margin-top: 3px;
}

.note-departure {
  color: #333333;
}

.auth-form-adult {
  grid-column: 2/3;
  width: 33px;
  grid-row: 5;
  justify-self: center;
  text-align: center;
  padding: 0;
  width: 33px;
  border-radius: 2px;
}

.auth-form-children {
  grid-column: 4/5;
  text-align: center;
  padding: 0;
  width: 133px;
}

.auth-form-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

.auth-form-field::-moz-placeholder {  /* Firefox 19+ */
  color: #000000;
}

.auth-form-field:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

.auth-form-field:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.wrapper-popover {
  grid-column: 3/4;
  text-align: center;
  align-self: center;
  position: relative;
}

.children-popover{
  position: absolute;
  width: 25px;
  height: 25px;
  right: -1px;
  top: 8px;
  text-align: center;
  font-family: inherit;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 50px;
  padding-top: 6px;
  box-sizing: border-box;
}

.children-popover:hover ~ .popover-description {
  display: block;
}

.children-popover:hover {
  background: #68A2CA;
}

.children-number {
  grid-column: 3/4;
  text-align: center;
}

.auth-form-button {
  grid-column: 1/-1;
  width: 575px;
  padding: 10px;
  margin-top: 40px;
  background: #83B3D3;
  border-radius: 10px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}

.auth-form-button:hover {
  background: #68A2CA;
}

.auth-form-button:active {
  background: #68A2CA;
  opacity: 0.3;
}

.auth-form-button:focus {
  border: 3px solid #756257;
}

.popover-description {
  position: absolute;
  top: 49px;
  left: -25px;
  width: 256px;
  padding: 20px 18px 22px  22px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #333333;
  min-height: 100px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
  text-align: left;
}

.popover-description::before {
  position: absolute;
  width: 19px;
  height: 9px;
  background-image: url("../images/ic-tooltip-arrow.svg");
  top: -9px;
  left: 118px;
  content: "";
}

