@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;

  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.visually-hidden {
  visibility: hidden;
}

/* Pages*/

.page-header {
  min-width: 1200px;
  color: #000000;
  background-color: #FFFFFF;
}

/* Nav */

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}

.section-weapper {
  display: flex;
}

.main-logo {
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 66px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-user {
  display: flex;
  justify-content: space-between;
  width: 264px;
  height: 66px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-button {
  width: 160px;
  height: 37px;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* Main */

.main-container {
  flex-grow: 1;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sedona-background {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(/images/index-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
}

.welcome-svg {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.advantages-wrapper {
  display: block;
  width: 1200px;
  height: 282px;
  margin: 0 auto;
}

.main-title {
  margin: 0;
  padding-top: 31px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.main-description {
  margin: 0;
  padding-top: 63px;
  color: #000000;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
}

/* List */

.edge-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.edge-list {
  display: flex;
  flex-wrap: wrap;
  color: #333333;
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

.edge-img {
  width: 800px;
  margin: 0;
  padding: 0;
}

.edge-title {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: black;
  margin-top: 98px;
}

.edge-description {
  margin: 0;
  margin-right: 75px;
  max-width: 250px;
  max-height: 73px;
  margin-bottom: 79px;
  margin-left: 75px;
}

.city {
  width: 800px;
  height: 384px;
  margin: 0;
  padding: 0;
}

.edge-item-1 .edge-title,
        .edge-item-5 .edge-title {
            color: #FFFFFF;
        }

        .edge-item-1,
        .edge-item-5 {
            font-size: 18px;
            line-height: 21px;
            background-color: #83B3D3;
            color: #FFFFFF;
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .edge-item-2,
        .edge-item-4,
        .edge-item-6,
        .edge-item-8 {
            font-size: 18px;
            line-height: 21px;
            background-color: rgba(131, 179, 211, 0.12);
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .edge-item-7 {
            font-size: 18px;
            line-height: 21px;
            background-color: rgba(131, 179, 211, 0.2);
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .edge-item-3 {
            font-size: 18px;
            line-height: 21px;
            width: 400px;
            height: 384px;
            margin: 0;
        }

        .number {
            font-family: PT Sans;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            height: 25px;
            /*margin-top: 25px;*/
            margin-bottom: 26px;
        }

/* Hotels */

.hotels {
  background-color: #FFFFFF;
  text-align: center;
}

.hotels-wrapper {
  width: 1200px;
  height: 417px;
  margin: 0;
  padding: 0;
}

.hotels-title {
  margin: 0;
  padding-top: 91px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.hotels-intro {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 45px;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
}

.hotels-search-button {
  color:#FFFFFF ;
  background-color:#756257;
  border-radius: 10px;
  font-size: 20px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 575px;
  height: 60px;
}

.hotels-search-form {
  display: none;
}

.subscription {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  background-image: url(/images/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  text-align: center;
}

.subscription-catalog {
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.subscription-title {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 90px;
  margin-bottom: 15px;
  margin: 0;
}

.subscription-title-catalog {
  color: #000000;
}

.subscription-description {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  padding-top: 10px;
  margin-bottom: 25px;
}

.subscription-description-catalog {
  color: #000000;
}

.subscription-email {
  background-color:#F2F2F2;
  width: 600px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
}

.subscription-btn {
  width: 200px;
  height: 60px;
  color: #FFFFFF;
  background-color:#83B3D3;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/* Catalog */

.hotels-sedona {
  width: 1200px;
  height: 408px;
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(/images/catalog/catalog-background-1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.hotel-filters-list {
  margin: 0;
  padding: 0;
}

.hotel-filters-wrapper {
  display: flex;
  justify-content: space-around;
}

.hotel-filters-infrastructure {
  border: none;
  margin: 0;
  padding: 0;
}

.results-wrapper {
  display: flex;
  margin: 0 auto;
}

.preference-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-style: normal;
  font-weight: bold;
}

.preference-hotel {
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
}

.hotel-filters-title {
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
}

.hotel-filters-list {
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
}

.price-controls {
  width: 287px;
  height: 48px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.hotel-price-button {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  border-radius: 4px;
}

.hotel-price-button-second {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  background: none;
  border: none;
  width: 160px;
  height: 23px;
}

/* Results*/

.results-value {
  color: #000000;
  font-size: 30px;
  line-height: 39px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.results-list a {
  color: #FFFFFF;
  text-decoration: none;
}

.results-list {
  display: flex;
  padding: 0;
  background-color: #FFFFFF;
  text-align: center;
  list-style-type: none;
}

.results-list-item-title {
  color: #000000;;
  font-size: 24px;
  line-height: 31px;
  font-style: normal;
  font-weight: bold;
 }

.results-list-item-description {
  color: #333333;
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: normal;
 }

.results-list-detail {
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  background-color: #756257;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.results-list-reserved {
  background: #83B3D3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.results-list-reserved-green {
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: bold;
  background: #7DB54F;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.results-list-rating {
  width: 134px;
  height: 37px;
  color: #333333 ;
  background: #F2F2F2;
  font-size: 16px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.load-more-wrapper {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.load-more-btn {
  width: 620px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  background: #83B3D3;
  border-radius: 4px;
  text-transform: uppercase;
}

.pagination a {
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-wrapper {
  display: flex;
  width: 1056px;
  justify-content: space-between;
  align-items: center;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  list-style-type: none;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

.pagination-item {
  width: 55px;
  height: 55px;
}

.pagination-link {
  color: #FFFFFF;
}

 .pagination-current {
   color: #000000;
 }

.hotels-value-wrapper {
  display: flex;
}

/* Footer */

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-footer-social {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 107px;
  height: 18px;
  justify-content: space-around;
  align-items: center;
}

.footer-tel {
  color: #000000;
  text-decoration: none;
}
